node_modules
.idea
\.tags*
routes.js
proxy

# Logs
logs
*.log
npm-debug.log*

*.iml
*.idea

# Optional npm cache directory
.npm
/node_modules/*
# Optional REPL history
.node_repl_history

.DS_Store
/dist
