iframe {
  border: none;
}

.toggle-menu {
  position: fixed;
  width: 12px;
  background: #bfcbd8;
  left: 190px;
  top: 50px;
  z-index: 10;
  font-size: 12px;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
  text-align: right;
  padding-right: 10px;
  color: #eef1f6;
  border-radius: 0 5px 5px 0;
  &:hover {
    background-color: #48576a;
  }
}
.ops-body {
  overflow: hidden;
  .child-menu-icon {
    display: none;
  }
  .menu-text {
    display: inline-block;
  }

  // 收起菜单后的内部样式
  &.hideLeftMenu {
    .hideLeftNav;
  }
  &.hideLeftMenu .leftNav:hover {
    .showLeftNav;
  }
}

.showLeftNav() {
  width: 190px;
  .child-menu-icon {
    display: none;
  }
  .menu-text {
    display: inline-block;
  }
  .child-menu .menu-text {
    padding-left: 25px;
  }
}

.hideLeftNav() {
  .leftNav {
    width: 30px;
    .toggle-menu {
      width: 12px;
    }
    .child-menu-icon {
      display: block;
    }
    .menu-text {
      display: none;
    }
    .ivu-icon-arrow-down {
      display: none;
    }
    .ivu-menu-submenu-title, .ivu-menu-item {
      padding-left: 8px!important;
      i { margin-right: 10px; }
    }
  }
  .ops-body-content {
    margin-left: 30px;
  }

}

.ops-body-content {
  margin-left: 190px;
  margin-top: 50px;
  background: #fff;
}
.ops-title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
}
.header-search{
  background: #f7f7f7;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 1px solid #eaeefb;
}
.header-tab{
  display: block;
  clear: both;
  overflow: hidden;
}
.body-content
{
  padding: 15px 15px 20px 15px;
}
.manage-wrap {
  background: #b9c8d5;
  font-size: 14px;
}
.ops-query {
  border: 1px solid #dfe6ec;
  border-radius: 3px;
  display: inline-block;
  span {
    display: inline-block;
    padding: 0px 5px;
    border-right: 1px solid #dfe6ec;
  }
  i {
   color: #999;
   padding-right: 5px;
   padding-left: 1px;
   font-size: 12px;
     &:hover {
      color: #2e476b;
     }
  }
}

.ops-form {
  .ops-form-row {
    .ops-form-row-header {
      display: inline-block;
    }
    .ops-form-row-ipt {
      width: 250px;
    }
  }
}

.mt-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eaeefb;
  th,td {
    font-size: 14px;
    text-align: left;
    border-top: 1px solid #eaeefb;
    white-space: nowrap;
    height: 0px;
    padding: 10px 5px;
  }
  th {
    font-weight: normal;
    background-color: #eff2f7;
  }
  tr.on {
    background-color: #ebf7ff;
  }
}
.mt-table-tc {
  th,td {
    text-align: center;
  }
}

.ops-btn {
  height: 28px;
  padding: 0px 15px;
}

.ops-tag {
  background-color: #8391a6;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  padding: 0px 2px;
}

.hoverblue {
  cursor: pointer;
  color: #1D8CE0 !important;
  &:hover {
    color: #20A0FF !important;
  }
}
.none-data {
  text-align: center;
  margin-top: 5px;
}
/* 状态 */
.orange {
  color:#fea012;
}
.gray {
  color: #666;
}
.redfont {
  color: #fe6869;
}
.errorfont {
  color: #fe6869;
}
.warningfont {
  color: #fea012;
}
.successfont {
  color: #32b798;
}
.infofont {
  color: #0b9eff;
}
.primaryfont {
  color: #2d8cf0;
}

/*自定义table start*/
.table {
  table-layout: fixed;
  word-break: break-all;
  border: 1px solid #dfe6ec;
  td,th {
    vertical-align: middle;
    height: 40px;
    padding: 8px 8px 8px 15px;
    text-align: left;
    font-size: 14px;
  }
  td {
    color: #666;
    border-top: 1px solid #dfe6ec;
  }
  th {
    background: #eef1f6;
    border-bottom: none;
    color: #333;
  }
}
/*自定义table end*/

// form-detail-style
.mt-form-label-right { text-align: right; width: 60px; }
.mt-form-text-content { padding-left: 10px; }

.mt-list-empty-tip {
  text-align: center;
  color: #666;
  line-height: 100px;
}

.mt-tag{
  background-color: red;
  border-radius: 2px;
  color: #fff;
  padding: 0 2px;
  font-size: 12px;
  margin-right:2px;
}
